/*#food-cards-container > div .card-header {*/
/*    padding: 0 !important;*/
/*    margin: 0 !important;*/
/*}*/

/*#food-cards-container > div .card-header button {*/
/*    width: 100%;*/
/*    height: 3.5rem;*/
/*    padding: 20px !important;*/
/*}*/

/*#food-cards-container {*/
/*    width: 100%;*/
/*}*/

/*#food-cards-container > div {*/
/*    border-radius: 3% !important;*/
/*    border: 1px solid #6c757d !important;*/
/*    margin-bottom: 1rem;*/
/*}*/

/*.card-body{*/
/*    height: 100%;*/
/*    padding-top: 35px;*/
/*    padding-right: 0;*/
/*    font-size: 36px;*/
/*}*/

/*.card-body:before {*/
/*    color: #6c757d;*/
/*    content: '$';*/
/*    font-size: 20px;*/
/*    vertical-align: top;*/
/*}*/

/*.food-card-image{*/
/*    height: 100px;*/
/*    max-width: 150px;*/
/*    border-radius: 10%;*/
/*    margin: 1rem;*/
/*    border: 1px solid #6c757d !important;*/
/*}*/

/*#food-cards-container > div .card-header button div input {*/
/*    width: 30px;*/
/*    !* background-color: none !important; *!*/
/*    background-color: rgba(0, 0, 0, 0) !important;*/
/*    border: none;*/
/*    color: inherit;*/
/*}*/

/*.food-counter-buttons {*/
/*    text-align: center;*/
/*    font-size: 50px;*/
/*    padding-top: 20px;*/
/*}*/

/*#food-cards-container > #food-spinner {*/
/*    border-radius: 50% !important;*/
/*    text-align: center;*/
/*}*/

/*#food-cards-container > #food-spinner-container {*/
/*    border: none !important;*/
/*}*/

/*.max-food-warning {*/
/*    font-size: 12px;*/
/*}*/

/*!* footer *!*/
/*#ordering-footer > .row {*/
/*    margin: 0;*/
/*}*/

/*#total-cost {*/
/*    background-color: transparent;*/
/*    border: none;*/
/*    !* width: 100%; *!*/
/*    height: 100%;*/
/*}*/

/*#total-cost-holder {*/
/*    padding: 0;*/
/*    vertical-align: text-top;*/
/*}*/

/*#dollar-sign {*/
/*    padding-top: 5px;*/
/*    font-size: 24px;*/
/*    vertical-align: text-top;*/
/*    color: #6c757d;*/
/*}*/

/*#order-now-button-container {*/
/*    vertical-align: middle !important;*/
/*    padding: 0;*/
/*    padding-top: 30px;*/
/*    padding-right: 10px;*/
/*    text-align: right;*/
/*}*/

#ordering-footer {
    height: 12vh;
    box-shadow: 0 -1px 10px black;
    /* color: none; */
    background-color: #433c3cdd;
    border: none;
    padding: 0;
    display: flex;
    border-radius: 0;
}

#ordering-form {
    width: 100%;
    height: 100%;
}

#order-now-button {
    background-color: transparent;
    border: none;
    align-self: center;
    vertical-align: center;
    height: 100%;
    width: 100%;
    padding: auto;
    color: #f8f9fa;
}

#order-now-button:hover, #order-now-button:active {
    background-color: #302525dd;
}

#food-cards-container {
    height: auto;
    background-color: #504343dd;
    border-radius: 10px;
    padding: 0;
    margin-bottom: 0;
}

.food-item {
    border-bottom: 1px solid #333;
    padding: 1.5rem;
}

.food-image {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 5px;
    align-self: center;
    border: 1px solid #333;
    background-color: #333;
}

/*button.collapsable[aria-expanded="true"] {*/
/*    background-color:*/
/*}*/

.food-name {
    font-size: 1rem;
}

.plus {
    height: 35px;
    width: 35px;
    padding: 0;
    color: #504343dd;
    text-align: center;
    font-size: 1rem;
}

.plus:disabled {
    background-color: darkgrey;
    border: darkgrey;
}

.minus {
    height: 20px;
    width: 20px;
    padding: 0;
    text-align: center;
    font-size: 0.75rem;
}

.minus:disabled {
    color: darkgrey;
    border-color: darkgrey;
}

.header-form-buttons {
    width: 6rem;
    height: 2.2rem !important;
}

#collapsing-button, .header-form-buttons {
    border: none;
    color: #f8f9fa;
}

#instructions-unhider-container {
    text-align: justify;
    width: 100%;
    padding: 1rem;
}

.counter {
    font-size: 2.5rem;
    color: #f8f9fa;
    background-color: transparent;
    border: none;
    padding: 0;
    width: auto;
}

.flex-2 {
    flex: 2;
}

.hider {
    /*animation-duration: 0.2s;*/
    /*overflow-x: hidden;*/
    display: flex;
}