body {
    background-color: #343a40;
}

#exit-button {
}

.last-row {
    margin-bottom: 50px;
}

tr {
    height: 2rem;
}

#header-container {
    height: 40px;
    margin: 10px;
}

#frequency-btn {
}

/*#order-table tr {*/
/*    background-color: transparent;*/
/*}*/

#order-table {
    background-color: transparent;
}

#order-table tr, #order-table thead {
    background-color: transparent;
}

#order-table td {
    background-color: #23262999;
    color: #e3e9ea;
}

#order-table thead th {
    color: #f8f9fa;
    background-color: #343a4099;
}

.modal-content {
    /*border-color: #f8f9fa;*/
    background-color: #333d;
}

.modal-content *:not(button) {
    border-color: #bdb8ae;
}

.modal-content .input-group-prepend, .modal-content .input-group-prepend button {
    border-color: #bdb8ae;
}

.modal-content :not(.text-muted) {
    color: #f8f9fa;
}

.dropdown-menu {
    background-color: #333d;
    border: none;
}

.dropdown-menu button:hover {
    background-color: #6c757d;
}