body {
    background-color: #343a40;
}

#exit-button {
}

.last-row {
    margin-bottom: 50px;
}

tr {
    height: 2rem;
}

#header-container {
    height: 40px;
    margin: 10px;
}

#frequency-btn {
}

/*#order-table tr {*/
/*    background-color: transparent;*/
/*}*/

#order-table {
    background-color: transparent;
}

#order-table tr, #order-table thead {
    background-color: transparent;
}

#order-table td {
    background-color: #23293099;
    color: #bdb8ae;
}

#order-table thead th {
    color: #f8f9fa;
    background-color: #343a4099;
}